@model MusicPortal.Models.Register
@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Register" class="forms reg">
    <h2>Регистрация</h2>
    <input asp-for="Login" class="inputs" placeholder="Логин" />
    <span asp-validation-for="Login" class="text-danger"></span>
    <input asp-for="FullName" class="inputs" placeholder="ФИО" />
    <span asp-validation-for="FullName" class="text-danger"></span>
    <input asp-for="Password" class="inputs" placeholder="Пароль" />
    <span asp-validation-for="Password" class="text-danger"></span>
    <input asp-for="RepeatPassword" class="inputs" placeholder="Пароль" />
    <span asp-validation-for="RepeatPassword" class="text-danger"></span>
    <input type="submit" value="Зарегистрироваться" class="btn" />
    <a asp-action="ToLogin" class="href">Есть аккаунт?</a>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}