@model Dz03._04._2024.Models.Films
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Edit" enctype="multipart/form-data" class="mplate">
    <div class="left">
        <img class="image" id="previewImage2" src="@Url.Content(Model.PosterPath)" />
        <label for="addimg" class="leftbtn">
            <span>Выберите файл</span>
            <input asp-for="PosterPath" id="addimg" type="file" name="uploadedFile" style="display: none;" accept="image/*" />
        </label>
    </div>
    <div class="info">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Title" type="text" class="inputs" placeholder="Название фильма" />
        <span asp-validation-for="Title" class="text-danger"></span>
        <input asp-for="Director" type="text" class="inputs" placeholder="Режиссёр" />
        <span asp-validation-for="Director" class="text-danger"></span>
        <input asp-for="Genre" type="text" class="inputs" placeholder="Жанр" />
        <span asp-validation-for="Genre" class="text-danger"></span>
        <input asp-for="Date" type="date" class="inputs" />
        <span asp-validation-for="Date" class="text-danger"></span>
        <textarea asp-for="Description" class="inputs area" placeholder="Описание"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
        <div class="botm trd">
            <a asp-action="Index" class="inbutton">Отмена</a>
            <input type="submit" value="Сохранить" class="inbutton" />
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
